<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Need For Ping ThinkPHP</title>
	<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
	<script type="text/javascript" src="Public/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="Public/js/getquery.js"></script>
	<script type="text/javascript" src="Public/js/draw_LOSS.js"></script>
	<script type="text/javascript" src="Public/js/draw_LATENCY.js"></script>
	<script type="text/javascript" src="Public/js/draw_charts.js"></script>
	<script src="Public/js/highcharts/highcharts.js"></script>
	<script src="Public/js/highcharts/modules/exporting.js"></script>
</head>

<body>


	<div style="width:95%; margin:0 auto; overflow:auto; _display:inline-block;">
				<div style="width:310px; float:left">

					<h1>Need For Ping ThinkPHP</h1>

			<form name="server_selecter" class="formcss">
				<table border="0">
					<volist name="list" id="vo">
						<tr>
							<td>
								<input type="checkbox" id="{$vo.id}" name="q[]" value="{$vo.server_name}">
							</td>
							<td>{$vo.alias_name}</td>
						</tr>
						<tr>
							<td></td>
							<td>{$vo.server_name}</td>
						</tr>
					</volist>
				</table>
				<input type="button" name="submit" value="提交查询" onclick="getquery()">
			</form>
			<p>博客地址：<a href="http://blog.catscarlet.com"> http://blog.catscarlet.com</a></p>

		</div>

		<div style=" margin-left:310px;">

			<div id="LOSS_container" style="min-width: 310px; height: 400px; margin: 0 auto">丢包率图表</div>
			<div id="LATENCY_container" style="min-width: 310px; height: 400px; margin: 0 auto">延迟图表</div>


		</div>
	</div>










</body>

</html>
